{% load staticfiles %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="../external.html?link=http://fonts.gstatic.com/" crossorigin>

	<!-- PICK ONE OF THE STYLES BELOW -->
	<link href="{% static 'css/classic.css' %}" rel="stylesheet">
	<link href="{% static 'css/speech-input.css' %}" rel="stylesheet">

    <title>S V Electronics CBE</title>
</head>
<body>
    <div class= "wrapper">
		<main class="content">
			<nav class="navbar navbar-expand navbar-light bg-white">

				<h1>S.V.Electronics</h1>

				&nbsp
				&nbsp
				&nbsp



				

				<div class="navbar-collapse collapse">
				
					<ul class="navbar-nav ml-auto">
						<li>
							<div class="mb-2">

							</div>
						</li>
						&nbsp
						&nbsp
						&nbsp


						
						<li>
							<div class="mb-2">
								<button class="btn btn-outline-primary"><a class="text-dark" href="{% url 'prime_list' %}" >All List</a></button>

							</div>
						</li>
						&nbsp
						&nbsp
						&nbsp
						<li>
							<div class="mb-2">
								<button class="btn btn-outline-primary"><a class="text-dark" href="{% url 'main' %}" >Back to Home</a></button>

							</div>
						</li>
						&nbsp
						&nbsp
						&nbsp
						
            

						<li>
							<div class="mb-2">
								<button class="btn btn-outline-primary"><a class="text-dark" href="{% url 'new' %}" >New Item</a></button>


							</div>
						</li>
						&nbsp
						&nbsp
						&nbsp
						
						<li>
							<div class="mb-2">
								<button class="btn btn-outline-primary"><a class="text-dark" href="{% url 'draft_list' %}" >Drafts</a></button>


							</div>
						</li>
						&nbsp
						&nbsp
						&nbsp
						

					</ul>
				
				</div>
			</nav>
			<br>
			
			<div class="row"></div>
				<div class =  "container-fluid p-10">
					<div class = "col-12">
						<div id="sidebar" class="four columns">
							
					
							{% block content %}

							{% endblock %}
						</div>
					</div>
				</main>
			</div>		
		</main>

		
    
    </div>    
    <script language='JavaScript' type='text/javascript' src='{% static "js/app.js" %}'></script>
	<script language='JavaScript' type='text/javascript' src='{% static "js/speech-input.js" %}'></script>

	<script type="text/javascript">
		$(function() {
			// Bar chart
			new Chart(document.getElementById("chartjs-dashboard-bar"), {
				type: "bar",
				data: {
					labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
					datasets: [{
						label: "Last year",
						backgroundColor: window.theme.primary,
						borderColor: window.theme.primary,
						hoverBackgroundColor: window.theme.primary,
						hoverBorderColor: window.theme.primary,
						data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79]
					}, {
						label: "This year",
						backgroundColor: "#E8EAED",
						borderColor: "#E8EAED",
						hoverBackgroundColor: "#E8EAED",
						hoverBorderColor: "#E8EAED",
						data: [69, 66, 24, 48, 52, 51, 44, 53, 62, 79, 51, 68]
					}]
				},
				options: {
					maintainAspectRatio: false,
					legend: {
						display: false
					},
					scales: {
						yAxes: [{
							gridLines: {
								display: false
							},
							stacked: false,
							ticks: {
								stepSize: 20
							}
						}],
						xAxes: [{
							barPercentage: .75,
							categoryPercentage: .5,
							stacked: false,
							gridLines: {
								color: "transparent"
							}
						}]
					}
				}
			});
		});
	</script>
	<script language="JavaScript" type="text/javascript">
		$(function() {
			$("#datetimepicker-dashboard").datetimepicker({
				inline: true,
				sideBySide: false,
				format: "L"
			});
		});
	</script>
	<script language="JavaScript" type="text/javascript">
		$(function() {
			// Line chart
			new Chart(document.getElementById("chartjs-dashboard-line"), {
				type: "line",
				data: {
					labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
					datasets: [{
						label: "Sales ($)",
						fill: true,
						backgroundColor: "transparent",
						borderColor: window.theme.primary,
						data: [2015, 1465, 1487, 1796, 1387, 2123, 2866, 2548, 3902, 4938, 3917, 4927]
					}, {
						label: "Orders",
						fill: true,
						backgroundColor: "transparent",
						borderColor: window.theme.tertiary,
						borderDash: [4, 4],
						data: [928, 734, 626, 893, 921, 1202, 1396, 1232, 1524, 2102, 1506, 1887]
					}]
				},
				options: {
					maintainAspectRatio: false,
					legend: {
						display: false
					},
					tooltips: {
						intersect: false
					},
					hover: {
						intersect: true
					},
					plugins: {
						filler: {
							propagate: false
						}
					},
					scales: {
						xAxes: [{
							reverse: true,
							gridLines: {
								color: "rgba(0,0,0,0.05)"
							}
						}],
						yAxes: [{
							ticks: {
								stepSize: 500
							},
							display: true,
							borderDash: [5, 5],
							gridLines: {
								color: "rgba(0,0,0,0)",
								fontColor: "#fff"
							}
						}]
					}
				}
			});
		});
	</script>
	<script language="JavaScript" type="text/javascript">
		$(function() {
			// Pie chart
			new Chart(document.getElementById("chartjs-dashboard-pie"), {
				type: "pie",
				data: {
					labels: ["Direct", "Affiliate", "E-mail", "Other"],
					datasets: [{
						data: [2602, 1253, 541, 1465],
						backgroundColor: [
							window.theme.primary,
							window.theme.warning,
							window.theme.danger,
							"#E8EAED"
						],
						borderColor: "transparent"
					}]
				},
				options: {
					responsive: !window.MSInputMethodContext,
					maintainAspectRatio: false,
					legend: {
						display: false
					}
				}
			});
		});
	</script>
	<script language="JavaScript" type="text/javascript">
		$(function() {
			$("#datatables-dashboard-projects").DataTable({
				pageLength: 6,
				lengthChange: false,
				bFilter: false,
				autoWidth: false
			});
		});
	</script>
	<script language="JavaScript" type="text/javascript">
		$(function() {
			// Datatables clients
			$("#datatables-clients").DataTable({
				responsive: true,
				order: [
					[1, "asc"]
				]
			});
		});
	</script>


    
</body>
</html>