{% extends "base.htm" %}


{% block content %}


    <div>
                {% if query %}

                     <p class='lead'>You searched for {{ query }}</p>
                {% else %}

                    <form class="form-inline my-2 my-lg-0" action='/search/'>
                  <input class="form-control mr-sm-2" type="search" name='q' placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>


                {% endif %}


                
        <table  id="datatables-clients" class="table table-striped" style="width:100%" align="center">
            
            <thead  >
                <tr >
                    <h1>
                        <td><h2><strong>Items</strong></h2></td>
                        <td><h2><strong>Quantity</strong></h2></td>
                        <td><h2><strong>Price</strong></h2></td>
                    </h1>
                <tr>
                
            </thead>
        
        
            
            <tbody>
            {%for post in prime_list %}
                <tr >
                    <td><h4><a href="{% url 'detail' pk=post.pk %}">{{post.items}}<a></h4></td>
                    <td><strong>{{post.quantity}} Nos</strong></td>
                    <td><strong>{{post.price}} Rs.</strong></td>
                <tr>
            {% endfor %}    
            </tbody>
                
            </table>
        


    </div>




{% endblock %}
